<div class="left d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-1 p-3 text-bg-dark" style="width: 300px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32">
            </svg>
            <span class="fs-4"><img src="./assets/images/Logo-Unicolombo.png" href="/" style="width: 100%;"></span>
        </a>
        <hr>

        <div class="user-container">
            <div class="user-avatar1" id="userAvatar1">
                <img src="assets/usuariosImagenes/3.jpeg" alt="Usuario">
            </div>
            <br>
            <a class="d-flex flex-row justify-content-center align-items-center">{{ usuario.nombre }} {{ usuario.apellido }} - {{ usuario.id }}</a>
            <hr>
        </div>

        <!-- Botón para mostrar el Gestor Período Académico -->
        <li>
            <a class="nav-link text-white">
                <svg class="bi bi-calendar" width="16" height="16">
                    <use xlink:href="#calendar"></use>
                </svg>
                <button (click)="mostrarComponentePeriodo()" class="btn1 bi bi-calendar" style="text-align: start;" aria-current="page">
                    Gestor Período Académico
                </button>
            </a>
        </li>

        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="assets/usuariosImagenes/3.jpeg" alt="Usuario" width="32" height="32" class="rounded-circle me-2">
                <strong>{{ usuario.nombre }}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow p-2">
                <li><a class="dropdown-item" href="#">Configuraciones</a></li>
                <li><a class="dropdown-item" href="#">Perfil</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>

    <!-- Sección para mostrar el componente de gestión del período académico -->
    <div class="contenido flex-grow-1">
        <div *ngIf="mostrarPeriodo">
            <app-periodo></app-periodo> 
        </div>
     
    </div>
</div>
